* {
  box-sizing: border-box;
  margin: 0;
}

.home-page {
  background-color: yellow;
}

.floor {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

.first-input {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.players-box input[type="number"] {
  width: 50px;
}

.players-box {
  display: flex;
  justify-content: center;
}

.blinds-box {
  display: flex;
  justify-content: center;
}

.sb {
  padding: 5px;
}

.sb input[type="number"] {
  width: 50px;
}

.bb {
  padding: 5px;
}

.bb input[type="number"] {
  width: 50px;
}

.table-felt {
  background-color: green;
  border-radius: 40%;
  width: 85vw;
  height: 90vh;
  position: absolute;
  z-index: 2;
}

.table-rim {
  background-color: rgb(36, 36, 36);
  border-radius: 40%;
  width: 93vw;
  height: 94vh;
  position: absolute;
  z-index: 1;
}

.table {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "seat-3 seat-3"
    "seat-2 seat-4"
    "seat-1 seat-5"
    "seat-6 seat-6";
  place-items: center;
}

.table-info {
  grid-area: seat-3;
  color: white;
  z-index: 2;
  align-self: end;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.player-input {
  position: absolute;
  background-color: grey;
  text-align: center;
  padding: 10px;
  height: 15vh;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
}

.player-action {
  position: absolute;
  text-align: center;
  padding: 10px;
  height: 10vh;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
  background-color: grey;
  top: 60%;
}

.box {
  display: flex;
  justify-content: space-between;
}

.sb-chip {
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  background-color: yellow;
  border-radius: 40%;
  grid-area: seat-1;
  z-index: 2;
}

.bb-chip {
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  background-color: orange;
  border-radius: 40%;
  grid-area: seat-2;
  z-index: 2;
}

.bn-chip {
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  background-color: white;
  border-radius: 40%;
  grid-area: seat-6;
  z-index: 2;
  align-self: center;
}

.seat-1 {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  grid-area: seat-1;
  justify-self: start;
  z-index: 2;
}

.seat-2 {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  grid-area: seat-2;
  justify-self: start;
  z-index: 2;
}

.seat-3 {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  grid-area: seat-3;
  align-self: start;
  z-index: 2;
}

.seat-4 {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  grid-area: seat-4;
  justify-self: end;
  z-index: 2;
}

.seat-5 {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  grid-area: seat-5;
  justify-self: end;
  z-index: 2;
}

.seat-6 {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  grid-area: seat-6;
  align-self: end;
  z-index: 2;
}
